@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  color: #ffffff;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
dl,
dt,
dd {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  height: auto;
}
figure {
  margin: 0;
  padding: 0;
  border: 0;
}
.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.button:hover {
  scale: 120%;
}

.u-h-header.is-open .u-h-header-background {
  left: 0;
}
.u-h-header-button-wrapper {
  margin-left: auto;
}
.u-h-header-icon {
  display: none;
}

.u-h-header-icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}
.u-h-navigation-list.is-open {
  right: 0;
}
.u-h-header-icon-menu {
  display: block;
}

.u-h-header-icon-button.is-open .u-h-header-icon-menu {
  display: none;
}

.u-h-header-icon-button.is-open .u-h-header-icon-close {
  display: block;
}

.u-h-header {
  position: fixed;
  width: 100%;
  z-index: 5;
  transition: background-color 0.3s ease;
  background: transparent;
  display: flex;
  height: 60px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.45) 0%,
    rgba(153, 153, 153, 0) 100%
  );

  backdrop-filter: blur(38px);
}

.u-h-header-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;
  z-index: -1;
  transition: left 0.3s ease;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.45) 0%,
    rgba(153, 153, 153, 0) 100%
  );

  backdrop-filter: blur(38px);
}
.u-h-header.is-open .u-h-header-background {
  left: 0;
}
.u-h-header-button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.u-h-header-icon-menu {
  display: block;
}

.u-h-header-icon-button.is-open .u-h-header-icon-menu {
  display: none;
}

.u-h-header-icon-button.is-open .u-h-header-icon-close {
  display: block;
}

.u-h-navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 16px;
  position: relative;
}

.u-h-navigation-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: auto;
  transition: 0.3s;
  z-index: 999;
  padding: 157px 0px;
  gap: 32px;
  background: #0a342b;
}

.u-h-navigation-list.is-open {
  right: 0;
}

.u-h-navigation-link {
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: #ffffff;
  font-family: Nunito;
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
}

.u-h-navigation-link:hover,
.u-h-navigation-link:focus {
  color: #90db46;
}

.u-h-header.is-open {
  background-color: transparent;
}

.u-h-navigation-img {
  display: none;
}

@media screen and (min-width: 1203px) {
  .u-h-navigation-img {
    display: flex;
  }
  .u-h-header-icon-title {
    display: none;
  }
  .u-h-header-button-wrapper {
    display: none;
  }
  .u-h-header {
    width: 100%;
    height: 90px;

    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }

  .u-h-header-background {
  }
  .u-h-header-icon-button {
    display: none;
  }
  .u-h-navigation {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 0;
    width: 1440px;
    margin: auto;
  }

  .u-h-navigation-list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;
    padding-block: 0;
    flex: 1;
    gap: 2px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    padding: 0;
  }

  .u-h-navigation-link {
    font-family: Nunito;
    font-weight: 700;
    font-style: Bold;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0%;
    margin: 0 15px;
  }

  .u-h-navigation-item-desk {
    display: none;
  }
}
.u-h-home {
  background: linear-gradient(180deg, #4d8e4b 0%, #08362f 100%);
}
.u-h-home-container {
  width: 375px;
  height: 900px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/home/Welcome.png");
  padding: 82px 20px 0px;
  margin: auto;
}

.u-h-home-container-top {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.u-h-home-title {
  font-family: Nunito;
  font-weight: 900;
  font-style: Italic;
  font-size: 50px;
  leading-trim: NONE;
  line-height: 51.54px;
  letter-spacing: 0%;
  text-transform: uppercase;
}

.u-h-home-text {
  font-family: Open Sans;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 20px;
  leading-trim: NONE;
  line-height: 32px;
  letter-spacing: 0%;
  padding: 12px 0 42px;
}

.u-h-home-img {
  height: 56px;
  transition: all 0.3s ease-in-out;
}
.u-h-home-img:hover {
  transform: scale(1.05);
}
@media screen and (min-width: 1203px) {
  .u-h-home-container {
    width: 1440px;
    background-image: url("/img/home/Welcome\ \(2\).png");
    padding: 214px 808px 0px 60px;
  }

  .u-h-home-title {
    font-family: Nunito;
    font-weight: 900;
    font-style: Italic;
    font-size: 88px;
    leading-trim: NONE;
    line-height: 88px;
    letter-spacing: 0%;
    text-transform: uppercase;
  }

  .u-h-home-text {
    font-family: Open Sans;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 22px;
    leading-trim: NONE;
    line-height: 32px;
    letter-spacing: 0%;
    padding: 22px 0 42px;
  }
}
.u-h-about {
  background: #cbe86a;
}
.u-h-about-container {
  width: 375px;
  height: 659px;
  color: #08362f;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/about/How\ It\ Works.png");
  padding: 100px 20px 0px;
  margin: auto;
}
.u-h-about-title {
  font-family: Nunito;
  font-weight: 900;
  font-style: Italic;
  font-size: 34px;
  leading-trim: NONE;
  text-transform: uppercase;
}
.u-h-uniqueness-list {
  padding-top: 42px;
}
.u-h-uniqueness-item {
  width: 335px;
  height: 320px;
  border-radius: 22px;
  overflow: hidden;
  position: relative;
  margin: 0 6px;
}
.u-h-uniqueness-img {
  width: 335px;
  height: 320px;
  object-fit: cover;
  object-position: center;
}
.u-h-uniqueness-text-bold {
  font-family: Open Sans;
  font-weight: 600;
  font-style: Italic;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  backdrop-filter: blur(2px);

  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.25) 100%
  );
  height: 110px;
  margin-top: -110px;
  padding-top: 22px;
  padding-right: 10px;
  padding-bottom: 22px;
  padding-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 1203px) {
  .u-h-about-container {
    width: 1440px;
    padding: 120px 60px;
    height: 659px;
    background-image: url("/img/about/How\ It\ Works\ \(1\).png");
  }
  .u-h-about-title {
    font-family: Nunito;
    font-weight: 900;
    font-style: Italic;
    font-size: 42px;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
  }

  .u-h-uniqueness-item {
    width: 420px;
    height: 320px;
    border-radius: 22px;

    margin: 0 15px;
  }
  .u-h-uniqueness-img {
    width: 420px;
    height: 320px;
    border-radius: 22px;
  }
  .u-h-uniqueness-text-bold {
    font-family: Open Sans;
    font-weight: 600;
    font-style: Italic;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
    margin-top: -94px;
    height: 94px;
    padding: 22px 10px;
  }
}
.u-h-why {
  margin: auto;
  background: linear-gradient(360deg, #4d8e4b 0%, #08362f 100%);
}

.u-h-why-container {
  width: 375px;
  height: 846px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/why/Causes\ We\ Support.png");
  margin: auto;
  padding: 100px 20px 0;
}
.u-h-about-title-why {
  text-align: center;
}
.u-h-why-list {
  padding-top: 30px;
}
.u-h-why-item {
  margin: 12px 12px 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.25) 100%
  );
  backdrop-filter: blur(22px);
  width: 335px;
  height: 233.00009155273438px;
  border-radius: 22px;
  padding-top: 22px;
  padding-right: 10px;
  padding-bottom: 22px;
  padding-left: 10px;
}
.u-h-why-img {
  height: 100px;
}
.u-h-why-text-bold {
  font-family: Open Sans;
  font-weight: 600;
  font-style: Italic;
  font-size: 18px;
  leading-trim: NONE;

  text-align: center;
  text-transform: uppercase;
}
.u-h-why-text {
  font-family: Open Sans;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;

  text-align: center;
}

@media screen and (min-width: 1203px) {
  .u-h-why-container {
    width: 1440px;
    padding: 120px 60px;
    height: 846px;
    background-image: url("/img/why/Causes\ We\ Support\ \(1\).png");
  }
  .u-h-about-title-why {
    text-align: left;
  }
  .u-h-why-list {
    padding-top: 20px;
  }
  .u-h-why-item {
    margin: 22px 11px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.25) 100%
    );
    backdrop-filter: blur(22px);
    width: 425.3333435058594px;
    height: 211.00009155273438px;
    gap: 10px;
    border-radius: 22px;
    padding-top: 22px;
    padding-right: 10px;
    padding-bottom: 22px;
    padding-left: 10px;
  }
}

.u-h-how {
  background: #132b13;
}
.u-h-how-container {
  margin: auto;
  padding: 100px 20px 0;
  width: 375px;
  height: 1080px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/Impact\ Tracker.png");
}
.u-h-how-list {
  padding-top: 42px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 22px;
}

.u-h-how-item {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.25) 100%
  );
  backdrop-filter: blur(22px);
  width: 320px;
  height: 122px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 22px;
  padding-top: 22px;
  padding-right: 10px;
  padding-bottom: 22px;
  padding-left: 10px;
}

.u-h-how-text-bold {
  font-family: Open Sans;
  font-weight: 600;
  font-style: Italic;
  font-size: 34px;
  leading-trim: NONE;

  text-align: center;
  text-transform: uppercase;
}

.u-h-how-text {
  font-family: Open Sans;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;

  text-align: center;
}

@media screen and (min-width: 1203px) {
  .u-h-how-container {
    margin: auto;
    width: 1440px;
    padding: 120px 60px;
    height: 846px;
    background-image: url("/img/Impact\ Tracker\ \(1\).png");
  }
  .u-h-how-list {
    padding-top: 42px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 22px;
  }

  .u-h-how-item {
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.25) 100%
    );
    backdrop-filter: blur(22px);
    width: 320px;
    height: 122px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 22px;
    padding-top: 22px;
    padding-right: 10px;
    padding-bottom: 22px;
    padding-left: 10px;
  }
}

.u-h-characters {
  margin: auto;
  background: #cbe86a;
}
.u-h-characters-container {
  padding: 120px 20px 0;
  color: #08362f;
  margin: auto;
  width: 375px;
  height: 900px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/Join\ the\ Movement.png");
  display: flex;
  flex-direction: column;
  gap: 42px;
}

.u-h-characters-text {
  font-family: Open Sans;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 20px;
  leading-trim: NONE;
  line-height: 32px;
  letter-spacing: 0%;
}

@media screen and (min-width: 1203px) {
  .u-h-characters-container {
    padding: 120px 360px 0 60px;
    height: 850px;
    background-image: url("/img/Join\ the\ Movement\ \(1\).png");
    margin: auto;
    width: 1440px;
  }
  .u-h-characters-text {
    font-family: Open Sans;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 20px;
    leading-trim: NONE;
    line-height: 32px;
    letter-spacing: 0%;
  }
}

.u-h-faq {
  background: #08362f;
}
.u-h-faq-container {
  padding: 120px 20px 555px;
  width: 375px;
  margin: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  background-image: url("/img/FAQ.png");
}
.u-h-faq-list {
  padding-top: 42px;
  display: flex;
  flex-direction: column;
}

.u-h-faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ffffff;
  gap: 80px;
  padding-top: 22px;
  padding-bottom: 22px;
  border-bottom-width: 1px;
  font-family: Nunito;
  font-weight: 700;
  font-style: Bold;
  font-size: 20px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  vertical-align: middle;
  text-transform: uppercase;
}

.u-h-faq-answer {
  font-family: Open Sans;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  leading-trim: NONE;
  line-height: 140%;
  letter-spacing: 0%;

  padding-top: 16px;
  padding-bottom: 16px;
}
.u-h-toggle-button {
  background: none;
  border: none;
  cursor: pointer;
}

.u-h-toggle-button img {
  width: 24px;
  transition: transform 0.3s ease;
}
.u-h-faq-answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease, opacity 0.4s ease;
  opacity: 0;
}

.u-h-faq-answer.open {
  max-height: 200px;
  opacity: 1;
}

.u-h-toggle-button img.rotated {
  transform: rotate(90deg);
}
@media screen and (min-width: 1203px) {
  .u-h-faq-container {
    padding: 120px 60px 0;
    height: 994px;
    background-image: url("/img/FAQ\ \(1\).png");
    width: 1440px;
    margin: auto;
  }
  .u-h-faq-list {
    padding-top: 65px;
    display: flex;
    width: 800px;
    flex-direction: column;
  }
  .u-h-faq-question {
    font-family: Nunito;
    font-weight: 700;
    font-style: Bold;
    font-size: 22px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    vertical-align: middle;
    text-transform: uppercase;
  }
}

.u-h-features {
  background: linear-gradient(180deg, #08362f 0%, #132b13 100%);
}

.u-h-features-container {
  width: 375px;
  margin: auto;
  padding: 120px 20px;
}
.u-h-features-text {
  font-family: Open Sans;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 20px;
  leading-trim: NONE;
  line-height: 32px;
  letter-spacing: 0%;
  padding: 42px 0 12px;
}
.u-h-features-list {
  display: flex;
  gap: 12px;
  flex-direction: column;
}
.u-h-features-img {
  width: 40px;
}
.u-h-features-text-bold {
  display: flex;
  align-items: center;
  gap: 16px;
  font-family: Open Sans;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 32px;
  letter-spacing: 0%;
  color: inherit;
  text-decoration: none;
}
@media screen and (min-width: 1203px) {
  .u-h-features-container {
    width: 1440px;
    margin: auto;
    padding: 120px 60px;
  }

  .u-h-features-list {
    flex-direction: row;
  }
}

.u-h-container {
  padding: 100px 20px 40px;
  width: 375px;
  margin: auto;
  background: linear-gradient(180deg, #4d8e4b 0%, #08362f 100%);
  font-family: Open Sans;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 24px;
  letter-spacing: 0%;
}

.u-h-container h1 {
  font-family: Nunito;
  font-weight: 700;
  font-style: Bold;
  font-size: 22px;
  leading-trim: NONE;
  line-height: 24px;
  letter-spacing: 0%;
}

.u-h-container h2 {
  margin-top: 10px;
  font-family: Open Sans;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 24px;
  letter-spacing: 0%;
}

.u-h-container h3 {
  margin-top: 10px;
  font-family: Open Sans;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 24px;
  letter-spacing: 0%;
}

.u-h-container ul {
  margin-top: 10px;
  list-style-type: disc;
  margin-left: 20px;
}

.u-h-container ul li {
  margin-bottom: 10px;
}
.u-h-container p {
  margin-top: 10px;
}
.u-h-container a {
  text-decoration: none;
  color: inherit;
  transition: all 0.3s ease-in-out;
}

.u-h-container a:hover {
  text-decoration: underline;
}

strong {
  color: #000;
}
@media screen and (min-width: 1203px) {
  .u-h-container {
    padding: 160px 86px 90px;
    width: 1440px;
    margin: auto;
  }
}

.u-h-footer-container {
  width: 375px;
  margin: auto;
  padding: 61px 47px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 28px;
  height: 240px;
  background-image: url("/img/Footer.png");
}

.u-h-footer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.u-h-footer-text {
  text-decoration: none;
  color: inherit;
  font-family: Nunito;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 16px;
  leading-trim: CAP_HEIGHT;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  text-transform: uppercase;
}

.u-h-footer-copyright {
  font-family: Nunito;
  font-weight: 500;
  font-style: Medium;
  font-size: 14px;
  leading-trim: CAP_HEIGHT;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  color: inherit;
  display: flex;
  gap: 12px;
  flex-direction: column;
}

@media screen and (min-width: 1203px) {
  .u-h-footer-container {
    width: 1440px;
    padding: 61px 100px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: end;
    align-items: center;
    gap: 241px;
    height: 180px;
    background-image: url("/img/Footer\ \(1\).png");
  }

  .u-h-footer-wrapper {
    display: flex;
    flex-direction: column;
    font-family: Nunito;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 16px;
    leading-trim: CAP_HEIGHT;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
    text-transform: uppercase;
  }

  .u-h-footer-text {
    font-family: Nunito;
    font-weight: 500;
    font-style: Medium;
    font-size: 14px;
    leading-trim: CAP_HEIGHT;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
  }
}

.u-h-cookie-popup {
  position: fixed;
  bottom: 10px;
  width: 335px;
  padding: 21px;
  border-radius: 20px;
  box-shadow: 0px 14px 42px 0px #080f340f;
  border: 1px solid #ffffff;
  background: #08362f;

  z-index: 1000;
  display: none;
}

.u-h-cookie-popup-text-two {
  font-family: Nunito;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 30px;
  letter-spacing: 0%;
  width: 256px;
  margin-left: 15px;
}

.u-h-cookie-button-container {
  padding: 37px 0 0;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 18px;
}

.u-h-cookie-button {
  border: 1px solid #ffffff;
  background-color: transparent;
  box-shadow: 0px 4px 8px 0px #4a3aff14;
  padding-top: 18px;
  padding-right: 26px;
  padding-bottom: 18px;
  padding-left: 26px;
  border-radius: 56px;
  border-width: 1px;
  font-family: Nunito;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 18px;
  letter-spacing: 0%;
  color: #ffffff;
}

#accept-cookies {
  background: #ffffff;
  color: #08362f;
  font-family: Nunito;
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 18px;
  letter-spacing: 0px;
}

.u-h-close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

@media screen and (min-width: 1203px) {
  .u-h-cookie-popup-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 67px;
  }

  .u-h-cookie-popup-text-two {
    font-family: Nunito;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;
    width: 608px;
  }

  .u-h-cookie-button-container {
    padding: 0;
    margin: auto;
    display: flex;
    flex-direction: row-reverse;
    gap: 20px;
  }

  .u-h-cookie-popup {
    position: fixed;
    bottom: 10px;
    width: 1272px;
    padding: 52px 129px;
    display: none;
  }
}
